.stopButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .stopButton:hover {
    opacity: 0.8;
  }
  